/* Reset some default browser styles */
body, h1, table {
    margin: 0;
    padding: 0;
}

/* Style the page container */
.container {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px; /* Slightly smaller font size */
    margin: 18px;
}

/* Add space between the title and the table */
h1 {
    margin-bottom: 20px;
}

/* Style the table */
table {
    border-collapse: collapse;
//  width: 50%;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Style alternating rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

